<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="onPage($event)">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="onPage($event)">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="onPage($event)">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="onPage($event)">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="onPage($event)">Next</a>
    </li>
  </ul>
</nav>
